# Ameba build files
*.d
*.o
*.su
*.s
*.i
*.ii
*.oo
build_*
soc_info.json
.PATH_TO_AMEBA_RTOS
matter_env.sh
*.matter

# Python scripts
**/__pycache__/**

# Codepilot
.codepilot*
AGENTS.md

# Claude
.claude*
CLAUDE.md
